# Discord
BOT_TOKEN=MTMwOTE3NjIxMzAwMDAyODE5MA.Gp_UTR.a8F3isjd90J0iJI4se23L-1R1kkNBRsaswXGG4
GUILD_ID=

# MongoDB
MONGO_URI=mongodb://localhost:27017/clash-mvp

# Clash Royale API
API_TOKEN=

# Mercado Pago
MERCADO_PAGO_TOKEN=

# Notion
NOTION_API_KEY=
DATABASE_ID=
DATABASE_DEPOSIT_ID=

# Discord IDs (Optional)
CHANNEL_ID=
CHANNEL_ID_QUEUE=
REGISTERED_ROLE_ID=
SUPORTE_ROLE_ID=

# Settings
RATE=
NODE_OPTIONS="--no-warnings --no-deprecation"